<ion-view title="">
  <style>
    .myOwnBadge4{
      border-radius: 0px 10px 0px 10px ;
      padding-bottom: 1%;
      font-family: 微软雅黑;
      font-weight: bolder;
      padding-left: 1%;
    }
    .dashDetailDiv{
      margin-top: 3%;
      margin-bottom: 3%;
    }
    .mycontent{
      text-align: center;
    }
    .myLiitleContent{
      border-radius: 10px 10px 10px 10px ;
      font-family: 微软雅黑;
      font-weight: bolder;
      padding-left: 1%;
      font-size: 95%;
    }
  </style>
  <ion-content>
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/logo.jpg">
        <h2>工程实训第五组</h2>
        <p>The Fifth Group of Engineering Training</p>
      </div>

      <div class="item item-image">
        <ion-slide-box does-continue="true" auto-play="true" >
          <ion-slide>
            <div class="box blue"> <img src="img/aboutMine1.png" width="100%" height="200px"></div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow"> <img src="img/aboutMine2.jpg" width="100%" height="200px"></div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow"> <img src="img/aboutMine3.jpg" width="100%" height="200px"></div>
          </ion-slide>
        </ion-slide-box>
      </div>
      <div class="item">

        <div class="row dashDetailDiv mycontent">
          <h2 class="positive-bg light col-20 myOwnBadge4">BOSS</h2>
          <p class="col-20">郭贞优</p>
          <span class="col-33 myLiitleContent royal-bg light">Level:999999</span>
          <span class="col-25 myLiitleContent assertive-bg light" style="margin-left: 1%">全能猿</span>
        </div>


        <div class="row dashDetailDiv mycontent">
          <h2 class="positive-bg light col-20 myOwnBadge4">前端</h2>
          <p class="col-20">邓博文</p>
          <span class="col-33 myLiitleContent balanced-bg light">这页我说了算</span>
          <p class="col-20">马金琴</p>
        </div>

        <div class="row dashDetailDiv mycontent">
          <h2 class="positive-bg light col-20 myOwnBadge4">后端</h2>
          <p class="col-20">滕礼全</p>
          <span class="col-25 myLiitleContent assertive-bg light" style="margin-left: 1%">全能猿</span>
        </div>

        <div class="row dashDetailDiv mycontent">
          <h2 class="positive-bg light col-20 myOwnBadge4">测试</h2>
          <p class="col-20">许理超</p>
          <span class="col-25 myLiitleContent energized-bg light" style="margin-left: 1%">后勤能手</span>
        </div>
        <div class="row dashDetailDiv mycontent">
          <h2 class="positive-bg light col-20 myOwnBadge4">文档</h2>
          <p class="col-20">黄涛</p>
          <span class="col-25 myLiitleContent energized-bg light" style="margin-left: 1%">帅无极限</span>
          <p class="col-20">李志东</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
