
<div ng-controller="announcementlCtrl">
  <style>
    .myOwnBadge3{
      border-radius: 0px 10px 0px 10px ;
      padding-bottom: 1%;
      font-family: 微软雅黑;
      font-weight: bolder;
      padding-left: 3%;
      text-align: center;
    }
  </style>
  <div class="list card" ng-repeat="e in emergencies">
    <div class="item">
      <h2 class="myOwnBadge3 positive-bg light ">{{e['title']}}</h2>
    </div>
    <div class="item">
      <p>作者：{{e['author']}}<span style="float: right;">{{e['createAt'] | date:'yy-MM-dd hh-mm'}}</span></p>
    </div>
    <div class="item item-body">
      {{e['content']}}
    </div>
  </div>
  <ion-infinite-scroll
    icon="ion-loading-c"
    on-infinite="loadMoreAnnouncements()"
    distance="10%">
  </ion-infinite-scroll>
</div>


