
<div ng-controller="hotelCtrl">

  <style>
    .myOwnBadge{
      border-radius: 0px 10px 0px 10px ;
      padding-bottom: 1%;
      font-family: 微软雅黑;
      font-weight: bolder;
      padding-left: 2%;
      padding-right: 2%;
    }
    .dashDetailDiv{
      margin-top: 2%;
      margin-bottom: 3%;
    }
    .myContent2{
      text-align: center;
    }
    .myLiitleContent{
      border-radius: 10px 10px 10px 10px ;
      font-family: 微软雅黑;
      font-weight: bolder;
      padding-left: 1%;
      font-size: 95%;
      text-align: center;
    }

  </style>

  <div class="list card" ng-repeat="h in hotels">
    <div class="item" ng-switch="h['id'] % 2">
      {{h['name']}}
      <i ng-switch-when="1" class="badge assertive-bg light">豪华型</i>
      <i ng-switch-when="0" class="badge positive-bg light">经济型</i>
    </div>
    <div class="item item-image">
      <ion-slide-box does-continue="true" auto-play="true" >
        <ion-slide ng-repeat="img in h['imgs']">
          <div class="box blue"> <img ng-src="{{baseImgUrl + img['url']}}" width="100%" height="200px"></div>
        </ion-slide>
      </ion-slide-box>
    </div>

    <div class="item">
      <div class="row dashDetailDiv"><h2 class="positive-bg light col-30 myOwnBadge">酒店类型</h2><p class="col-60 myContent2">{{h['type']}}</p></div>
      <div class="row dashDetailDiv"><h2 class="positive-bg light col-30 myOwnBadge">酒店价格</h2><p class="col-60 myContent2">{{h['price']}}</p></div>
      <div class="row dashDetailDiv"><h2 class="positive-bg light col-30 myOwnBadge">房间总量</h2><p class="col-60 myContent2">{{h['totalRoom']}}</p></div>
      <div class="row dashDetailDiv"><h2 class="positive-bg light col-30 myOwnBadge">房间剩余</h2><p class="col-60 myContent2">{{h['totalRoom'] - h['bookedRoom']}}</p></div>
    </div>
  </div>

</div>
