<ion-view title="发现">
  <style>
    .chatDetailHeader{
      text-align: center;
      font-weight: bolder;
    }
    .myChatI{
      float: right;
      margin-right: 6%;
      font-size: 120%;
      position: relative;
      z-index: 100;
    }
    .MyChatFooter h4{
      margin-right:-6%;
      position: relative;
      z-index: 50;
    }
  </style>
  <ion-content>
    <img ng-src="{{baseImgUrl + article['imageUrl']}}" width="106%" style="margin-left: -3%;height: 200px;">
    <div class="card">
      <div class="item item-divider chatDetailHeader">
        {{article['title']}}
      </div>
      <div class="item item-body">
                {{article['article']}}
      </div>
      <div class="item item-divider MyChatFooter">
            <i class="icon ion-thumbsup myChatI" ng-class="{'assertive':isTrue}" ng-click="check()">Like</i>
            <h4 class="badge myBadge2" ng-class="{'assertive-bg':isTrue,'light':isTrue}" ng-bind="likeNum"></h4>
      </div>
    </div>
    <!--<h1 ng-bind="chatId"></h1>-->
  </ion-content>
</ion-view>
