<ion-view view-title="我的投诉" >
  <ion-nav-buttons side="right">
    <button class="button button-small" ng-click="modal.show()"><p><i class="icon ion-ios-plus-empty" style="font-size: 110%"></i></p></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <a class="button button-full button-positive"  style="margin-top:5%;color:white;" href="#/tab/mine/{{lalala}}" >三级路由测试</a>
  </ion-content>
  <style>
    .color{
      color: white;
      font-size: 120%
    }
    .color:hover{
      color:red;
    }
  </style>
</ion-view>

