<ion-view view-title="">
  <ion-nav-buttons side="right">
    <button class="button button-small button-clear" ><p><i class="icon ion-navicon" style="font-size: 110%"></i></p></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <i class="icon" style="letter-spacing: 3px;font-size:110%">投诉详情</i>
  </ion-nav-title>
  <ion-content class="padding">
    <div style="margin-bottom: 3%;">
      <div class="col-25" style="background-color: darkgray;border-radius: 7px 7px 7px 7px;text-align: center;margin-left: 37%"><p style="font-size: 50%">09-09 19:30</p></div>
      <div class=" col-100" style="border-radius: 5px 5px 5px 5px;padding: 3%;background-color: rgb(255,102,0) ">
        <p style="color:white;font-size: 122%;">顾客意见反馈</p>
        <div class="col 100" style="border-top: 1px solid white;">
          <p style="color:white;font-size: 105%;margin-left:-1%;margin-top:2%">我是一个热爱旅游的人，去过很多景区，但是从来没有一个景区像这样对待我，卖票的人态度非常地不好，这让我很难过，我会让我的朋友们以后也不要来这里了。</p>
        </div>
      </div>
    </div>


    <div style="margin-bottom: 3%;">
    <div class="col-25" style="background-color: darkgray;border-radius: 7px 7px 7px 7px;text-align: center;margin-left: 37%"><p style="font-size: 50%">09-09 19:50</p></div>
    <div class="positive-bg col-100" style="border-radius: 5px 5px 5px 5px;padding: 3% ">
      <p style="color:white;font-size: 122%;;">客服正在审理申请</p>
      <div class="col 100" style="border-top: 1px solid white;">
        <p style="color:white;font-size: 105%;margin-left:-1%;margin-top:2%">客服已经同意了本次投诉的申请，正在审理。</p>
      </div>
    </div>
    </div>

    <div style="margin-bottom: 3%;position: relative;">
      <div class="col-25" style="background-color: darkgray;border-radius: 7px 7px 7px 7px;text-align: center;margin-left: 37%"><p style="font-size: 50%">09-09 19:50</p></div>
      <div class="positive-bg col-100" style="border-radius: 5px 5px 5px 5px;padding: 3% ">
        <p style="color:white;font-size: 122%;;">客服正在审理申请</p>
        <div class="col 100" style="border-top: 1px solid white;">
          <p style="color:white;font-size: 105%;margin-left:-1%;margin-top:2%">客服已经同意了本次投诉的申请，正在审理。</p>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 3%;">
      <div class="col-25" style="background-color: darkgray;border-radius: 7px 7px 7px 7px;text-align: center;margin-left: 37%"><p style="font-size: 50%">09-09 19:50</p></div>
      <div class="positive-bg col-100" style="border-radius: 5px 5px 5px 5px;padding: 3% ">
        <p style="color:white;font-size: 122%;;">客服正在审理申请</p>
        <div class="col 100" style="border-top: 1px solid white;">
          <p style="color:white;font-size: 105%;margin-left:-1%;margin-top:2%">客服已经同意了本次投诉的申请，正在审理。</p>
        </div>
      </div>
    </div>
    <div class="col-20 col-offset-90 balanced-bg" style="border-radius: 25px 25px 25px 25px;padding-top: 1%;padding-left: 2%;"><a class="icon ion-plus light" style="font-size: 190%;" ng-click="showPopup()"></a></div>

  </ion-content>

</ion-view>




