<ion-view view-title="我的投诉" >
  <ion-nav-buttons side="right">
    <button class="button button-small button-clear" ng-click="modal.show()"><p><i class="icon ion-ios-plus-empty" style="font-size: 110%"></i></p></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <style>
      .my-items ion-item img{
        border-radius:25px 25px 25px 25px;
      }
      .opt-btn{
        height: 8px;
        width:183%;
        margin-top: 18%;
        border-top: 1px solid lightskyblue;
        margin-left: -60%;
      }
      .opt-btn a{
        float: right;
        margin-bottom:-2%;
        margin-top:1%;
        margin-right:1%;
      }
      .opt-btn button{
        float: right;
        margin-bottom:-2%;
        margin-top:1%;
        margin-right:1%;
      }
      .status{
        margin-left: 35%;
      }
      .status h6{
        font-weight: bolder;
      }
      .my-row{
        width: 125%;
      }
      .my-row div{
        display: inline-block;
      }
    </style>

    <div ng-repeat="complain in complains" class="my-items">
      <ion-item class="item-remove-animate item-icon-right pad item-thumbnail-left item-positive-border" type="item-text-wrap"  style="border: 1px solid lightskyblue;margin-bottom:2%">
        <img ng-src="img/logo.jpg">
        <div class="my-row">
          <div><h2>酒店住宿投诉</h2></div>
          <div class="status" ng-switch="complain.status">
            <h6 ng-switch-when="处理完成" class="balanced">处理完成</h6>
            <h6 ng-switch-when="处理中" class="calm">正在处理</h6>
            <h6 ng-switch-when="投诉被驳" class="assertive">投诉被驳</h6>
          </div>
        </div>
        <p>{{complain.description}}</p>
        <div class="opt-btn" ng-switch="complain.status">
          <a ng-switch-when="处理中" class="button button-small  button-positive" href="#/tab/mine/complainDetail/specific">查看处理</a>
          <a ng-switch-when="处理完成" class="button button-small  button-positive" href="#/tab/mine/complainDetail/specific">查看处理</a>
          <button ng-switch-when="投诉被驳" class="button button-small  button-positive" ng-click="modal.show()">重新提交</button>
        </div>
      </ion-item>
    </div>
  </ion-content>
</ion-view>

