<ion-view view-title="我的投诉" >
  <ion-nav-buttons side="right">
    <button class="button button-small button-clear" ng-if="!showInfo" ng-click="create()"><p><i class="icon ion-ios-plus-empty" style="font-size: 110%"></i></p></button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <style>
      .status{
        float: left;
      }
      .status h6{
        font-size: 95%;
      }
      .status h6{
        font-weight: bolder;
      }
      .mybutton{
        float: right;
        padding-top: -10%;
        margin-top: -2%;
        margin-bottom: -2%;
      }


    </style>
    <div ng-if="showInfo">请先登陆</div>
    <div ng-if="!showInfo&&complains.length == 0">无数据显示</div>
    <div ng-repeat="complain in complains" class="card">
      <div class="item item-divider">
        <div class="status" ng-switch="complain.status">
          <h6 ng-switch-when="处理完成" class="balanced">处理完成</h6>
          <h6 ng-switch-when="处理中" class="calm">正在处理</h6>
          <h6 ng-switch-when="投诉被驳" class="assertive">投诉被驳</h6>
          <h6 ng-switch-when="待审核" class="calm">正在审核</h6>
        </div>
      </div>

      <div class="item item-avatar comment">
        <img ng-src="img/logo.jpg">
        <h2>{{typeMap[complain.type]}}投诉</h2>
        <p>{{complain.description}}</p>
      </div>
        <div class="item item-divider comment" ng-switch="complain.status">
          <a ng-switch-when="处理中" class="button button-small  button-outline button-positive mybutton" ng-href="#/tab/mine/complainDetail/{{complain.id}}/handling">查看处理</a>
          <a ng-switch-when="处理完成" class="button button-small  button-outline button-positive mybutton" ng-href="#/tab/mine/complainDetail/{{complain.id}}/complete">查看处理</a>
          <button ng-switch-when="投诉被驳" class="button button-small  button-outline button-positive mybutton" ng-click="resubmit(complain.id)">重新提交</button>
          <a ng-switch-when="待审核" class="button button-small  button-outline button-positive mybutton" ng-href="#/tab/mine/complainDetail/{{complain.id}}/init">查看投诉</a>
        </div>
    </div>



  </ion-content>
</ion-view>

