<ion-view title="九寨沟">
  <ion-content>
    <style>
      .myOwnBadge{
        border-radius: 0px 10px 0px 10px ;
        padding-bottom: 1%;
        font-family: 微软雅黑;
        font-weight: bolder;
      }
      .dashDetailDiv{
        margin-top: 3%;
        margin-bottom: 3%;
      }
    </style>
    <div class="list card">
      <div class="item item-avatar">
      <img src="img/2.jpg">
      <h2>九寨沟国家级自然保护区</h2>
      <p>Jiuzhaigou Valley Scenic and Historic Interest Area</p>
      </div>

      <div class="item item-image">
        <ion-slide-box does-continue="true" auto-play="true" >
          <ion-slide>
            <div class="box blue"> <img src="img/1.jpg" width="100%" height="200px"></div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow"> <img src="img/2.jpg" width="100%" height="200px"></div>
          </ion-slide>
          <ion-slide>
            <div class="box yellow"> <img src="img/3.jpg" width="100%" height="200px"></div>
          </ion-slide>
        </ion-slide-box>

        <div class="item ">
          <div class="row dashDetailDiv"><h2 class="positive-bg light col-25 myOwnBadge">经典级别</h2><p class="col-75 myContent">世界自然遗产,国家AAAAA级旅游景区</p></div>
          <div class="row dashDetailDiv"><h2 class="positive-bg light col-25 myOwnBadge">门票价格</h2><p class="col-75 myContent">旺季4-11月：220元;淡季11-3月：80元</p></div>
          <div class="row dashDetailDiv"><h2 class="positive-bg light col-25 myOwnBadge">著名景点</h2><p class="col-75 myContent">翠湖、叠瀑、彩林、雪峰、藏情、蓝冰</p></div>
          <div class="row dashDetailDiv"><h2 class="positive-bg light col-25 myOwnBadge">景区类型</h2><p class="col-75 myContent">野生动物类型自然保护区</p></div>
          <div class="row dashDetailDiv"><h2 class="positive-bg light col-25 myOwnBadge">所在地点</h2><p class="col-75 myContent">四川省阿坝藏族羌族自治州</p></div>
          <div class="row dashDetailDiv"><h2 class="positive-bg light col-25 myOwnBadge">游玩时长</h2><p class="col-75 myContent">1-3天</p></div>
          <div class="row dashDetailDiv"><h2 class="positive-bg light col-25 myOwnBadge">气候类型</h2><p class="col-75 myContent">高原湿润气候</p></div>
          <div class="row dashDetailDiv"><h2 class="positive-bg light col-25 myOwnBadge">占地面积</h2><p class="col-75 myContent">64297公顷</p></div>

        </div>
      </div>

    </div>


  </ion-content>
</ion-view>
