<ion-view view-title="发现" hide-tabs="true">
  <style>
    .bottomOne{
      margin-bottom: -200%;
    }
    .bottomTwo{

    }
    .MyA h2{
      margin-top: 3%;
    }
    .MyA h4{
      margin-top: 5%;
    }
    .MyA h5{
      margin-top: 14%;
    }
  </style>
  <ion-content>
    <a href="" ng-repeat="a in articles" class="item item-thumbnail-left MyA" ng-click="goDetail(a)">
      <img ng-src="{{baseImgUrl + a['imageUrl']}}" >
      <h2>{{a['title']}}</h2>
      <p>{{a['article']}}</p>
      <h4>{{a['publisher']}}</h4>
      <div ng-switch="a['articleType']">
        <h5 ng-switch-when="独家" class="badge balanced-bg stable">独家</h5>
        <h5 ng-switch-when="置顶" class="badge positive-bg stable">置顶</h5>
        <h5 ng-switch-when="热门" class="badge assertive-bg stable">热门</h5>
      </div>
      <h5 class="badge positive-bg stable">{{a['articleType']}}</h5>
    </a>
  </ion-content>
</ion-view>
