<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="lib/ionic-rating/ionic-rating.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script type="text/javascript" src="lib/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <!-- baidu JS API  -->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=0KzDtnrAVfdyBds7BV55rfzZ"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="lib/ionic-rating/ionic-rating.js"></script>
  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-positive" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>

<script id="modal.html" type="text/ng-template">
  <div class="modal" ng-controller="ModalCtrl">

    <ion-header-bar class="bar bar-header bar-positive ">
      <button class="button button-clear " ng-click="modal.hide()"><i class="icon ion-ios-close-empty" style="font-size:200%"></i></button>
      <h1 class="title" style="letter-spacing: 3px;">登录</h1>
    </ion-header-bar>

    <ion-content  class="positive">
      <div class="padding" style="text-align: center">
        <img src="img/logo.jpg" width="30%" style="border-radius:30px 30px 30px 30px;margin-top: 15px;">
        <h4 style="font-family: 方正喵呜体;font-size:200%;">游世界  从这里起步</h4>
        <div class="list" style="margin-top:10%;">
          <label class="item item-input">
            <span class="input-label">用户名</span>
            <input ng-model="userInfo.username" type="text">
          </label>
          <label class="item item-input" style="margin-top:5%">
            <span class="input-label">密码</span>
            <input ng-model="userInfo.password" type="password">
          </label>
          <button class="button button-full button-positive" ng-click="login()" style="margin-top:10%;color:white;font-family: 微软雅黑">登录</button>
        </div>
      </div>
    </ion-content>
  </div>
</script>


<script id="complainModal.html" type="text/ng-template">
  <div class="modal" ng-controller="complainModalCtrl">

    <ion-header-bar class="bar bar-header bar-positive ">
      <button class="button button-clear " ng-click="modal.hide()"><i class="icon ion-ios-close-empty" style="font-size:200%"></i></button>
      <h1 class="title" style="letter-spacing: 3px;text-align: center">投诉表单</h1>
    </ion-header-bar>

    <ion-content  class="positive">
      <div>

        <label class="item item-input item-stacked-label" ng-show="showType">
          <span class="input-label positive">投诉类型</span>
        </label>

        <div ng-repeat="typeRow in types" ng-show="showType">
          <div class="row" style="margin-top:2%;margin-bottom: 2%">
            <div class="choose col-33 col-offset-10" ng-repeat="type in typeRow" ng-click="selectType(type)"
                 ng-class="{true:'choose2',false:'choose'}[type==currentType]">{{type.typeName}}</div>
          </div>
        </div>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">文字描述</span>
          <textarea rows="4" cols="20" type="text" placeholder="请输入您对于本次投诉的描述。" ng-model="complaint.description"/>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label positive">图像描述</span>
          <div class="row">
            <div ng-repeat="img in images" class="col-20" height="56px" style="margin-top: 4%;">
              <img ng-src="{{img}}" class="col-100" height="56px" style="margin-top: 4%;margin-left:1%">
            </div>
          <button class="icon ion-plus button-clear col-20"  ng-click="selectImg()" style="font-size:200%;border: 1px solid black;margin-top: 4%;margin-bottom: 3%;margin-left:1%;padding-bottom:16%;color:darkgray;border-color: darkgray "></button>
          </div>
        </label>
        <button class="button button-block  button-positive" ng-click="submitComplaint()" style="margin-top:3%;color:white;font-family: 微软雅黑;width: 92%;margin-left: 4%">提交投诉</button>

      </div>
    </ion-content>

  </div>
</script>

<style>
  .choose{
    color:darkgray;
    text-align: center;
    border: 1px solid darkgray;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 120%;
  }
  .choose2{
    color:#387EF5;
    text-align: center;
    border: 1px solid #387EF5;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 120%;
  }

</style>
